body {
    padding-top: 45px;
    padding-bottom: 40px;
    background: white; /* Old browsers */
    
   /* background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ *!/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ *!/
    background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ *!/
    background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ *!/
    background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ *!/
    background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C *!/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 *!/*/
    
}

.body-class{
	-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
	background-image: no-repeat center center fixed;
}
.sidebar-nav {
    /*padding: 9px 0;*/
}

.media-body h5{
	text-align: justify;
	margin-top: 12px;
	font-size: 13px;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

.left_nav{
	background: none;
	border: none!important;
	box-shadow:0px!important;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	border-radius: 0px!important;
	-webkit-box-shadow: 0px!important;
	-moz-box-shadow: 0px!important;
}

.displaypic{
	border: none;
}

.displaypic a img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.rounded_corners {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.no_corners{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.schoollogo{
	margin-bottom: 0px!important;
}

.input_post_box{
	background-color: white;
	margin-bottom: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.comment_text {
	/* width: 345px!important; */ 
	margin-top: 16px;
}

.comm_list{
	width: 494px;
	/* margin-left: 10px;
	margin-bottom: 12px;
	border: dotted 1px; */
	padding: 6px; 
	border-bottom: 1px gray solid;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

.comm_list:hover{
	background-color: #e3e3e1;
	border: 1px gray solid;
}

.js-nav-links{
	list-style: none;
	margin: 0px!important;
}

.module {
	position: relative;
	margin-bottom: 10px;
	line-height: 16px;
	border-radius: 6px;
	background-clip: padding-box;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #eee;
	border: 1px solid rgba(0,0,0,.1);
	cursor: pointer;
}

.module ul:first-child li:first-child .list-link, .module .flex-module:first-child, .module .contrast-flex-module:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.module ul:last-child li:last-child .list-link, .module ul:last-child li.last-item .list-link, .module .list-link.last, .module .flex-module:last-child, .module .contrast-flex-module:last-child {
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.module .list-link {
position: relative;
display: block;
padding: 8px 12px;
background-color: #f9f9f9;
border-top: 1px solid #e8e8e8;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
}

.module li:first-child .list-link, .module .inner:first-child {
border-top: 0;
}
.module .active .list-link {
font-weight: bold;
}
.module .list-link:hover, .module .active .list-link {
background-color: #fff;
color: #333;
text-decoration: none;
}
.module .list-link:hover, .module .active .list-link {
background-color: #fff;
color: #333;
text-decoration: none;
}

.module .chev-right {
position: absolute;
top: 9px;
right: 12px;
}

.chev-right, .chev-left {
background-position: 0 -140px;
width: 9px;
height: 13px;
}

.list-link i, .icon {
display: inline-block;
vertical-align: text-top;
background-image: url(../img/twitter_web_sprite_icons.png);
background-position: -1 0;
background-repeat: no-repeat;
}

abbr.timeago{
	color: #807575;
}

.conf_class{
	color: white;
}

.conf_class1{
	color: black;
}

.liked {
	background: #87e0fd;
	background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
	background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 )
}

.spammed {
	background: #87e0fd;
	background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
	background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 )
}

.user_post_main {
	border-bottom: 1px solid #333;
	padding: 12px 20px 0px 20px;
	cursor: pointer;
	background: #f5f5f5;
}

.user_post_main:hover{
	background: #e7e7e7;}

.likes{
	display: inline;
}

.commentscount{
	display: inline;
}

#content{
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #333;
}


/*Image upload*/
 

#progressbox {
    border: 1px solid #0099CC;
    padding: 1px;
    position:relative;
    width:400px;
    border-radius: 3px;
    margin: 10px;
    display:none;
    text-align:left;
}
#progressbar {
    height:20px;
    border-radius: 3px;
    background-color: #003333;
    width:1%;
}
#statustxt {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}

#progressbox1 {
    border: 1px solid #0099CC;
    padding: 1px;
    position:relative;
    width:400px;
    border-radius: 3px;
    margin: 10px;
    display:none;
    text-align:left;
}
#progressbar1 {
    height:20px;
    border-radius: 3px;
    background-color: #003333;
    width:1%;
}
#statustxt1 {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}


/* 
	School Search 
*/

.typeahead,
.tt-query,
.tt-hint {
  width: 410px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead-wrapper1 form span.twitter-typeahead .tt-query, .typeahead-wrapper1 form span.twitter-typeahead .tt-hint {
width: 70px;
}


.typeahead-wrapper1 form span.twitter-typeahead .tt-dropdown-menu{
width: 198px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.navbar-search > span > input.tt-hint{
	width: 170px!important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.dl-menuwrapper{
	z-index: 2;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.fb_ltr{
	z-index: 3!important;
}

/* School search ends */
